.databricks/.databricks.env
historic_nested_dict.json
historic_nested_dict.json
thermometer_sheets/Bescot.doc
thermometer_sheets/Bescot.docx
thermometer_sheets/Bidford.doc
thermometer_sheets/Bidford.docx
thermometer_sheets/Coleshill.doc
thermometer_sheets/Coleshill.docx
thermometer_sheets/Eathorpe.doc
thermometer_sheets/Eathorpe.docx
thermometer_sheets/Henley.doc
thermometer_sheets/Henley.docx
html_heatmaps/aggregated_heatmap_normalized.html
html_heatmaps/Severn Uplands_heatmap_normalized.html
html_heatmaps/Severn Vale_heatmap_normalized.html
html_heatmaps/Shropshire Middle Severn_heatmap_normalized.html
html_heatmaps/Teme_heatmap_normalized.html
html_heatmaps/Warwickshire Avon_heatmap_normalized.html
html_heatmaps/Worcestershire Middle Severn_heatmap_normalized.html
html_heatmaps/Wye_heatmap_normalized.html
extracted_texts.csv
processed_extracted_texts_expanded_sorted_with_text.csv
processed_extracted_texts_expanded_sorted.csv
processed_extracted_texts_filtered_sorted.csv
processed_extracted_texts_filtered.csv
processed_extracted_texts.csv
gaugeboards/Abbeymead Gaugeboard.pptx
gaugeboards/Crew Green Gaugeboard.pptx
gaugeboards/Welsh Bridge Gaugeboard.pptx
