.databricks/.databricks.env
historic_nested_dict.json
historic_nested_dict.json
thermometer_sheets/Bescot.doc
thermometer_sheets/Bescot.docx
thermometer_sheets/Bidford.doc
thermometer_sheets/Bidford.docx
thermometer_sheets/Coleshill.doc
thermometer_sheets/Coleshill.docx
thermometer_sheets/Eathorpe.doc
thermometer_sheets/Eathorpe.docx
thermometer_sheets/Henley.doc
thermometer_sheets/Henley.docx
